/* For page title */
h1 {
    color: rgb(226, 130, 58);
    font-size: 2em;
}
/* drone name */
h3 {
    color: rgb(226, 130, 58);
}
/* For sh:name */
div div label {
    color: chocolate;
    margin-top: 20px;
    margin-bottom: 0px;
} 
/* For sh:description */
div div i {
    color: rgb(151, 150, 148);
    margin:0px;
    padding: 0px;
}
.btn_cust {
    width:30px !important;
    padding-bottom: 7px !important;
    padding-left: 7px !important;
}
.svg_img { /* svg on an img tag */
    -webkit-filter: invert(1); /* safari 6.0 - 9.0 */
            filter: invert(1);
}
