<head>
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/g/es6-promise@1.0.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsonld/0.4.12/jsonld.js"></script>

    <link href="https://unpkg.com/@triply/yasgui/build/yasgui.min.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/@triply/yasgui/build/yasgui.min.js"></script>

    <script src="https://cdn.jsdelivr.net/g/es6-promise@1.0.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsonld/0.4.12/jsonld.js"></script>

    <style>
        .yasgui .autocompleteWrapper {
        display: none !important;
    }
    </style>
</head>
<body>
    <div id="yasgui"></div>
    <script>
      const yasgui = new Yasgui(document.getElementById("yasgui"), {
        requestConfig: { endpoint: "/api/v1/sparql" },
        copyEndpointOnNewTab: false
      });
    </script>
</body>
