<div>
    <div class='template' hidden>
        <div>
            <div>
                <div><label>Predicate</label></div>
                <div><i>Please enter as an IRI.</i></div>
                <input name='Predicate CustomProperty' type='text' pattern='<?\w+:(\/?\/?)[^\s]+>?' disabled/>
            </div>
            <div>
                <div><label>Object</label></div>
                <input name='Object CustomProperty' type='text' disabled/>
                <div>
                    Enter as...
                    <select class="form-control" style="width:auto;" name='Object Type CustomProperty'>
                        <option value='IRI'>IRI</option>
                        <option value='String'>String</option>
                        <option value='Boolean'>Boolean</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class='entries'></div>
    <button type='button' class='add-entry btn btn-secondary btn-sm mt-1 btn_cust'>
        <img src="/static/svg/plus-solid.svg" style='width: 12px;' class='svg_img'>
    </button> 
    <button type='button' disabled class='remove-entry btn btn-secondary btn-sm mt-1 btn_cust'>
        <img src="/static/svg/trash-alt-regular.svg" style='width: 14px;' class='svg_img'>
    </button>
</div>