{% extends "layout.html" %}
{% block content %}
<center>
    <table><tr><td>
        <a href="./">
        <img src='{{url_for("static", filename="landrs_200.png")}}' width="100" alt="LANDRS">
        </a>
    </td><td>
        <h1>LANDRS Drone Data Buddy</h1>
    </td></tr>
</table>
<br>

<fieldset class="form-group">
    <legend>Flight Creation</legend>
    <form id='create_flight' action="{{ url_for('flight_create') }}" method='POST'>
        {% block form_contents %}

        <table><tr>
<!--            <td>Flight name:</td>
            <td>
                <input type="text" placeholder="Field survey #1" class="form-control" id="flight" data-property-id='flight' name="flight">
            </td>
        </tr><tr>
            <td>Flight description:</td>
            <td>
                <input type="text" placeholder="zig-zag accross field" class="form-control" id="description" data-property-id='description' name="description">
            </td>
        </tr><tr>
            <td>Select mission file:</td>
            <td>
                <select class="form-control" style="width:auto;" data-property-id='missions' name='missions' >
                    {%- for mission in missions %}
                    <option value="{{ mission['path'] }}"
                    {%- if default_file == mission['name'] %} selected
                        {%- endif %}
                    >{{ mission['name'] }}</option>
                    {%- endfor %}
                </select>
            </td>
        </tr><tr>
            <td>Select observable property:</td>
            <td>
                <select class="form-control" style="width:auto;" data-property-id='obs_prop' name='obs_prop' >
                    {%- for obs_prop in obs_props %}
                    <option value="{{ obs_prop['uri'] }}"
                    >{{ obs_prop['label'] }}</option>
                    {%- endfor %}
                </select>
            </td>
        </tr><tr>
            <td>Select pilot:</td>
            <td>
                <select class="form-control" style="width:auto;" data-property-id='pilot' name='pilot' >
                    {%- for pilot in pilots %}
                    <option value="{{ pilot['uri'] }}"
                    >{{ pilot['label'] }}</option>
                    {%- endfor %}
                </select>
            </td>
        </tr><tr>-->
            {%- for boundary in boundarys %}
            <td>{{ boundary['description'] }}:</td>
            <td>
                {%- if boundary['class']  %}
                <select class="form-control" style="width:auto;" data-property-id="{{ boundary['name'] }}" name="{{ boundary['name'] }}" >
                    {%- for inst in boundary['in'] %}
                    <option value="{{ inst['uri'] }}"
                    >{{ inst['label'] }}</option>
                    {%- endfor %}
                </select>
                <!--Add hidden text to send the type-->
                <input type="hidden" id="{{ boundary['name'] }}_type" name="{{ boundary['name'] }}_type" value="{{ boundary['class'] }}">
                {%- else %}
                    <input type="text" value="{{ boundary['defaultValue'] }}" class="form-control" id="{{ boundary['name'] }}" data-property-id="{{ boundary['name'] }}" name="{{ boundary['name'] }}">
                <!--Add hidden text to send the type-->
                <input type="hidden" id="{{ boundary['name'] }}_type" name="{{ boundary['name'] }}_type" value="{{ boundary['datatype'] }}">
                {%- endif %}
            </td>
        </tr><tr>
            {%- endfor %}

            <td></td>
            <td>
                <input class="btn btn-secondary" name='create flight' type='submit' value='create flight' />
            </td>
        </tr></table>

        {% endblock %}
    </form>
    <div id='server-results'>Status: </div>
</fieldset>

</center>    
{% endblock %}
{% block scripts %}

<script type="text/javascript">

    $("#create_flight").submit(function(event){
        event.preventDefault(); //prevent default action 
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = $(this).serialize(); //Encode form elements for submission
        
        $.ajax({
            url : post_url,
            type: request_method,
            data : form_data
        }).done(function(response){ //
            console.log('Status: '+response.status)
            $("#server-results").html(response.status);
        });
    });

</script>

{% endblock %}