{% extends 'layout.html' %}
{% block form_heading %}{% endblock %}
{% block content %}
<h1>{{ self.form_heading() }}</h1>
<form id='shacl-form' action='{{ url_for("post") }}' method='POST'>
    {% block form_contents %}{% endblock %}
    <input type='submit' value='Submit' />
    <textarea name="map_ttl" style="display:none;">{{ map_ttl }}</textarea>
</form>
{% endblock %}
{% block scripts %}
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='{{url_for("static", filename="js/jquery-validation/jquery.validate.js")}}'></script>
<script src='{{url_for("static", filename="js/jquery-validation/additional-methods.js")}}'></script>
<script src='http://www.crc.nd.edu/~csweet1/webform.js'></script>
{% endblock %}
