{% extends "layout.html" %}
{% block content %}
<center>
    <table><tr><td>
        <img src='{{url_for("static", filename="landrs_200.png")}}' width="100" alt="LANDRS">
    </td><td>
        <h1>LANDRS Drone Data Buddy</h1>
    </td></tr>
    {%- if myid %}
    <tr>
        <td></td><td style="font-size: 1.5em;">My Name is, <b>{{ myid }}</b></td>
    </tr>
    {%- endif %}
</table>
    
<br>
<fieldset class="form-group">
    <legend>Configuration</legend>
<table>
    <!--<th>Type</th><th>Link</th>-->
    <tr><td>Mothership:</td><td><a href="https://www.landrs.org">www.landrs.org</a></td></tr>
    <TR>    
        <td>Query Interface:</td><TD><a href="{{ url_for('sparql') }}">SPARQL</a></TD>
    </TR>
    <TR>    
        <td>Drone:</td><TD><a href="{{ url_for('drone') }}">Configure Drone from SHACL file</a></TD>
    </TR>
    <TR>    
        <td>Flights:</td><TD><a href="{{ url_for('flight') }}">Create Flight from SHACL file</a></TD>
    </TR>
    <tr></tr>

{%- for shape in shape_list %}
<TR>
    <td>Create (using SHACL):</td><TD><a href="{{ url_for('gen_form', id = shape['encoded']) }}">{{ shape['shape'] }}</a></TD>
</TR>
{%- endfor %}
</table>
</fieldset>
<fieldset class="form-group">
    <legend>Data Acquisition</legend>
    <form id='data_acquisition' action="{{ url_for('mavlink') }}" method='POST'>
        {% block form_contents %}
        <table>
            <tr>
                <td><b>Flight:</b></td><td>{{ flight['name'] }}</td>
            </tr>
            <tr>
                <td><b>Description:</b></td><td>{{ flight['description'] }}</td>
            </tr>
        </table><table>
            <tr><td>
            <input type="hidden" id="actId" name="action" value="none">
            <input class="btn btn-secondary" name='start' type='submit' value='Start' onclick="$('#actId').val('start')" 
            {%- if not flight['name'] %}disabled{%- endif %} />
            <input class="btn btn-secondary" name='stop' type='submit' value='Stop' onclick="$('#actId').val('stop')" 
            {%- if not flight['name'] %}disabled{%- endif %} />
            </td><td>
            {%- if comms_ports %}
            <select class="form-control" style="width:auto;" data-property-id='comms_ports' name='comms_ports' >
                {%- for comp in comms_ports %}
                <option value='{{ comp }}'>{{ comp }}</option>
                {%- endfor %}
            </select>
            </td><td>
            <input class="btn btn-secondary" name='start' type='submit' value='Set Port' onclick="$('#actId').val('setport')" />
            {%- endif %}
        </td></tr></table>
        {% endblock %}
    </form>
    <div id='server-results'>Status: </div>
    
</fieldset>

<div id='graph_list'>

<fieldset class="form-group">
    <legend>Data Download</legend>
<table>
    <td>Select Flight Dataset</td>
{%- for graph in data_graphs %}
<TR>
    <TD style="text-align: center;"><a href="{{ graph['graph'] }}">{{ graph['label'] }}</a></TD>
</TR>
{%- endfor %}
</table>
</fieldset>

</div>

</center>    
{% endblock %}
{% block scripts %}

<script type="text/javascript">
    $("#data_acquisition").submit(function(event){
        event.preventDefault(); //prevent default action 
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = $(this).serialize(); //Encode form elements for submission
        
        $.ajax({
            url : post_url,
            type: request_method,
            data : form_data
        }).done(function(response){ //
            var stat_strng = 'Status: ' + response.status + '.';
            //alert('Data acquisition, ' + stat_strng);
            if (response.graphs) {
                $("#graph_list").html(response.graphs);
                //console.log('Graph: '+response.graphs) // + ', thread: ' + response.thread + '.')
            }
            $("#server-results").html(stat_strng);
        });
    });
    
</script>

{% endblock %}