{% extends "layout.html" %}
{% block content %}
<center>
    <table><tr><td>
        <img src='{{url_for("static", filename="landrs_200.png")}}' width="100" alt="LANDRS">
    </td><td>
        <h1>LANDRS Drone Data Buddy</h1>
    </td></tr>
    <!--<tr>
        <td>My ID</td><td>{{ myid }}</td>
    </tr>-->
</table>
    
<br>
<fieldset class="form-group">
    <legend>Configuration</legend>
<table>
    <!--<th>Type</th><th>Link</th>-->
    <tr><td>Mothership</td><td><a href="https://www.landrs.org">www.landrs.org</a></td></tr>
    <TR>    
        <td>Query Interface,</td><TD><a href="{{ url_for('sparql') }}">SPARQL</a></TD>
    </TR>
    <tr></tr>

{%- for shape in shape_list %}
<TR>
    <td>Use SHACL shape,</td><TD><a href="{{ url_for('gen_form', id = shape['encoded']) }}">{{ shape['shape'] }}</a></TD>
</TR>
{%- endfor %}
</table>
</fieldset>
<fieldset class="form-group">
    <legend>Data Acquisition</legend>
    <form id='data_acquisition' action="{{ url_for('mavlink') }}" method='POST'>
        {% block form_contents %}
        <input type="hidden" id="actId" name="action" value="none">
        <input class="btn btn-secondary" name='start' type='submit' value='Start' onclick="$('#actId').val('start')" />
        <input class="btn btn-secondary" name='stop' type='submit' value='Stop' onclick="$('#actId').val('stop')" />
        {% endblock %}
    </form>
    <div id='server-results'>Status: </div>
</fieldset>
</center>    
{% endblock %}
{% block scripts %}

<script type="text/javascript">
    $("#data_acquisition").submit(function(event){
        event.preventDefault(); //prevent default action 
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = $(this).serialize(); //Encode form elements for submission
        
        $.ajax({
            url : post_url,
            type: request_method,
            data : form_data
        }).done(function(response){ //
            var stat_strng = 'Status: ' + response.status + ', thread running: ' + response.thread + '.';
            //alert('Data acquisition, ' + stat_strng);
            //console.log('Status: '+response.status + ', thread: ' + response.thread + '.')
            $("#server-results").html(stat_strng);
        });
    });
    
</script>

{% endblock %}